body {
	background-image: url("../img/light_checkered.png");
	background-repeat: repeat;

}

.cameras {
  list-style: none;
}

.cameras > li {
  margin-left: 0;
}

.social-container {
	padding-top: 10%;
}

.social-logo {
	height: 40px;
	width: 40px;
	float: right;
	background-size: 40px 40px;
}

.youtube {
	background-image: url(../img/youtube.png);
}

.facebook {
	background-image: url(../img/facebook.png);
}

.twitter {
	background-image: url(../img/twitterbird.png);
}

.flickr {
	background-image: url(../img/flickr.png);
}

.cams {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
