body {
	background-image: url("/new-hsl/img/light_checkered.png");
	background-repeat: repeat;
}

.social-container {
	padding-top: 10%;
}

.social-logo {
	height: 40px;
	width: 40px;
	float: right;
	background: url(/new-hsl/img/social.png) no-repeat;
}

.logo{
	padding-top:17px;
}

.youtube {
	background-position: 0 -200px;
}

.facebook {
	background-position: 0 0;
}

.twitter {
	background-position: 0 -160px;
}

.flickr {
	background-position: 0 -40px;
}

.github {
	background-position: 0 -120px;
}

.open{
	color: green;
	display:inline;
}

.closed{
	color:red;
	display:inline;
}

.articles{
	line-height:18px;
}

.orange-button, .orange-button:hover{
	font-color:#000000;
	background-color: hsl(36, 100%, 53%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc775", endColorstr="#ff9f0f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc775), to(#ff9f0f));
	background-image: -moz-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -ms-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc775), color-stop(100%, #ff9f0f));
	background-image: -webkit-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -o-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: linear-gradient(#ffc775, #ff9f0f);
	border-color: #ff9f0f #ff9f0f hsl(36, 100%, 48%);
	color: #000000 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

.hide-link a {
	color: #333333;
	text-decoration:underline;
}

.orange-button a {
	color: #000000;
}

.orange-button a:hover {
	text-decoration:none;
}

.left-info li{
	line-height: 17px;
	margin-top: 7px;
}

h3.calendar-link {
	text-decoration: underline;
	cursor: pointer;
}

.calendar-info li{
	line-height: 17px;
}

.calendar-info h4{
	margin-bottom:5px;
}

.italics{
	font-style:italic;
}

#main_image {
	text-align: right;
}

.caption{
	font-size: 29px;
	line-height: 1.2em;
}

.spinner{
	text-align:center;
}

.camera-container{
	padding-bottom:20px;
}

.cams {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.footer {
	background-color:white;
}

.title {
	text-transform: capitalize;
}

footer {
	padding-bottom:40px;
	margin-bottom:40px;
	padding-left:20px;
}

.modal-body {
	max-height: 500px;
}
