body {
	background-image: url("../img/light_checkered.png");
	background-repeat: repeat;

}

.social-container {
	padding-top: 10%;
}

.social-logo {
	height: 40px;
	width: 40px;
	float: right;
	background-size: 40px 40px;
}

.logo{
	padding-top:17px;
}

.youtube {
	background-image: url(../img/youtube.png);
}

.facebook {
	background-image: url(../img/facebook.png);
}

.twitter {
	background-image: url(../img/twitterbird.png);
}

.flickr {
	background-image: url(../img/flickr.png);
}
.github{
	background-image: url(../img/github.png);
}

.signs {
	height: 80px;
	width: 114px;
	background-size: 114px 80px;
	margin: 0 auto;
}

.open{
	background-image: url(../img/open.png);
}

.closed{
	background-image: url(../img/closed.png);
}

.orange-button, .orange-button:hover{
	font-color:#000000;
	background-color: hsl(36, 100%, 53%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc775", endColorstr="#ff9f0f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc775), to(#ff9f0f));
	background-image: -moz-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -ms-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc775), color-stop(100%, #ff9f0f));
	background-image: -webkit-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: -o-linear-gradient(top, #ffc775, #ff9f0f);
	background-image: linear-gradient(#ffc775, #ff9f0f);
	border-color: #ff9f0f #ff9f0f hsl(36, 100%, 48%);
	color: #000000 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

.hide-link a {
	color: #000000;
}

.spinner{
	text-align:center;
	font-size:25px;
}

.cams {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.footer {
	background-color:white;
}

.title {
	text-transform: capitalize;
}

footer {
	padding-bottom:40px;
	margin-bottom:40px;
	padding-left:20px;
}