body {
	background-image: url("../img/light_checkered.png");
	background-repeat: repeat;

}

.social-container {
	padding-top: 10%;
}

.social-logo {
	height: 40px;
	width: 40px;
	float: right;
	background-size: 40px 40px;
}

.logo{
	padding-top:17px;
}

.youtube {
	background-image: url(../img/youtube.png);
}

.facebook {
	background-image: url(../img/facebook.png);
}

.twitter {
	background-image: url(../img/twitterbird.png);
}

.flickr {
	background-image: url(../img/flickr.png);
}

.door_status_container {
	text-align:right;
}

.cams {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.discussion-title {
	text-transform: capitalize;
}

footer {
	padding-bottom:40px;
	margin-bottom:40px;
	padding-left:20px;
}