body {
	background-image: url("../img/light_checkered.png");
	background-repeat: repeat;

}

.cameras {
  list-style: none;
}

.cameras > li {
  margin-left: 0;
}

.socials{
	list-style-type:none;
}

.social-logo{
	height:40px;
	float:right;
}
