body {
	background-image: url("../img/light_checkered.png");
	background-repeat: repeat;

}

.cameras {
  list-style: none;
}

.cameras > li {
  margin-left: 0;
}

.logo{
	max-width:467px;
}

.social-container{
	padding-top: 10%;
	float:right;
}

@media (max-width: 767px) {
	.social-container{
		padding-top:0;
	}
}


.socials{
	list-style-type:none;
}

.social-logo{
	height:40px;
	float:right;
}

.cams {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}
