.classes {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--theme-navbar-height));
  gap: 1rem;
}

.classes .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding-top: var(--space-4);
  margin-top: var(--theme-navbar-height);
}

.classes iframe.airtable-embed {
  height: 100%;
  background: transparent;
  border: 1px solid #ccc;
}
