.live {
  background-color: #2c2c29;
  color: #2c2c29;
  font-family: Tahoma;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.live #wrapper {
  width: 811px;
  margin: 0 auto;
}

.live #top span {
  display: none;
}

.live #content {
  background-color: #fff;
  padding: 1em;
  font-size: 1.2em;
}

.live .caption {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 4px;
  margin: 0 0 0 30px;
  width: 320px;
  display: inline-block;
}

.live .footer {
  clear: both;
}

.live h1,
.live h2,
.live h3,
.live h4 {
  font-family: Helvetica, Georgia;
  font-size: 24px;
  letter-spacing: -1px;
  margin: 0px 0px 10px;
  border-bottom: 1px solid #dcdcdb;
}

.live h2 {
  font-size: 22px;
}

.live h3 {
  font-size: 20px;
}

.live h4 {
  font-size: 18px;
}
