.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.register .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding-top: var(--space-4);
  margin-top: var(--theme-navbar-height);
}

.register iframe.airtable-embed {
  height: 100%;
  background: transparent;
  border: 1px solid #ccc;
}
